<ul class="listing">
  <div class="row">
    <div class="well col-md-4 col-md-offset-4 listing-hover">
      <li><%= link_to gravatar_for(obj), user_path(obj) %></li>
      <li class="article-title"><%= link_to obj.username, user_path(obj) %></li>
      <li><small><%= pluralize(obj.articles.count, "article") if obj.articles%></small></li>
    </div>
  </div>
</ul>