// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$navbar-default-bg: black;
$navbar-default-border: none;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-top: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cubes-squares-on-blue-background-backgrounds-wallpapers.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.footer {
  margin-bottom: 45px;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

